$background_color: #0E97A7;
$highlight_color: #FBE34D;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background_color;
    
}


.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80vw;
    flex-direction: column;
    align-items: center;

    .outer-container {
        background-color: white;
        border-radius: 2rem;
        margin: 1rem 0;
        padding: 2rem;
        max-width: 50rem;
        width: 100%;

        .header H1 {
            padding-bottom: 1rem;
        }
        p {
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: left;

            .highlight {
                font-weight: bold;
                background-color: $highlight_color;
            }
        }


        .row-container {
            padding: 1rem 0;
            display: flex;
            padding: 1rem;
            
            label {
                padding-right: 1rem;
                text-align: left;
                flex: 1;
                font-size: 1.5rem;
            }
            input {
                flex: 2;
                font-size: 1.5rem;
            }

        }
        button {
            border-radius: 1rem;
            border-style: none;
            font-size: 1.5rem;
            padding: .75rem;
        }
    }
}